Builds/MacOSX/build/
Builds/MacOSX/RenderMan.xcodeproj/project.xcworkspace/
Builds/MacOSX/RenderMan.xcodeproj/xcuserdata/
__pycache__/
.ipynb_checkpoints/
.cache/
*.pyc
*.so
*.dylib
Documentation/plugins/
.idea/
Builds/LinuxMakefile/build/
cmake-build-debug/
.virtualenv/
